body {
  font-family: var(--mainFont);
}

/*start header*/
.header {
  padding: 57px;
}

.header ul {
  display: flex;
  gap: 36px;
  list-style: none;
}

.list .active {
  color: var(--primary);
}

.search form {
  border: 1px solid #e7e6ef;
  border-radius: 5px;
}

.search input {
  border: none;
  outline: none;
}

.search button {
  background-color: #fb2e86;
  padding: 8px 15px;
  border: none;
  outline: none;
}

.header .bar {
  width: 15px;
  display: none;
}

@media screen and (max-width: 1200px) {
  .header .list,
  .header .search {
    display: none;
  }
  .header .bar {
    display: block;
  }
  .header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .header .container {
    width: calc(100% - 100px); 

  }

  .header .row {
    justify-content: space-between;
    align-items: center;
  }
}


/*end header*/
/*start hero*/
.hero {
  background-color: #f2f0ff;
  padding: 50px 0;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 60%;
}

.hero-content .hero-lamp {
  position: relative;
  width: 5%;
  bottom: 50px;
  right: 70px;
}

.hero-img {
  opacity: 1;
  flex: 1 0 30%;
}

.hero-img img {
  width: 100%;
}

.hero-text {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.hero-text h5 {
  color: var(--primary);
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  color: #8a8fb9;
  line-height: 1.8;
}

.hero-btn {
  display: inline-block;
  align-self: flex-start;
}

@media screen and (max-width: 1200px) {
  .hero-content .hero-lamp {
    display: none;
  }

  .hero .hero-img {
    opacity: 0;
  }

  .hero .hero-content .hero-text {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .hero .container {
    width: calc(100% - 300px); 
  }
  }
/*end hero*/
/*start Featured Products*/
.Featured-Products {
  padding: 50px 0;
}

.Featured-Products h2 {
  margin-bottom: 48px;
  color: #1a0b5b;
}

.Featured-Products .row {
  justify-content: flex-start;
  gap: 15px;
}

.Featured-Products .product {
  flex-shrink: 0;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
}

.product {
  position: relative;
}

.product-icon {
  position: absolute;
  top: 24px;
}

.product-icon i {
  color: #1db4e7;
  width: 17px;
  height: 17px;
  margin-left: 10px;
  opacity: 0;
}

.btn-hover {
  border: none;
  outline: none;
  color: #fff;
  background-color: #08d15f;
  padding: 9px 13px;
  border-radius: 2px;
  position: absolute;
  bottom: 140px;
  left: 30%;
  opacity: 0;
}

.product-details h3 {
  transition: all 0.6s;
}

.product:hover .product-details {
  background-color: #2f1ac4;
  border-radius: 2px;
}

.product:hover .product-details h3 {
  color: #fff;
}

.product:hover .color-three {
  background-color: #ffeac1;
}

.product:hover .product-info {
  color: #fff;
}

.product:hover .product-icon i {
  opacity: 1;
}

.product:hover .btn-hover {
  opacity: 1;
}

.product .img {
  background-color: #f6f7fb;
  padding: 25px;
  height: 236px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.6s;
}

.product-info {
  transition: all 0.6s;
}

.color {
  border-radius: 10px;
  width: 14px;
  height: 4px;
  outline: none;
  border: none;
}

.color-one {
  background-color: #05e6b7;
}

.color-two {
  background-color: #f701a8;
}

.color-three {
  background-color: #00009d;
  transition: all 0.6s;
}

@media screen and (max-width: 1428px) {
  .Featured-Products .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Featured-Products .product {
    width: calc((100% - 30px) / 2);
  }
}

/*end Featured Products*/

/* start Leatest Products*/
.Leatest-Products h2 {
  margin-top: 128px;
  margin-bottom: 19px;
  color: #1a0b5b;
}

.l-product {
  width: 360px;
  position: relative;
}

.badge-img {
  position: absolute;
  top: 24px;
  left: 18px;
  opacity: 0;
  transition: all 0.6s;
}

.l-product-icon {
  position: absolute;
  color: #2f1ac4;
  width: 17px;
  height: 17px;
  margin-left: 15px;
  margin-top: 146px;
  opacity: 0;
  transition: all 0.6s;
}

.list-Leatest-Products ul {
  display: flex;
  justify-content: center;
  gap: 36px;
  list-style: none;
  margin-bottom: 58px;
}

.l-product-icon a {
  padding: 10px 20px;
}

.l-product-img {
  padding: 35px 64px;
  background-color: #f7f7f7;
}

.l-product-details {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-bottom: 120px;
  color: #151875;
  margin-top: 15px;
}

.l-product-details .old-price {
  color: var(--primary);
  font-size: small;
  text-decoration: line-through;
}

.l-product-details h3 {
  border-bottom: 2px solid #eeeffb;
  padding-bottom: 3px;
}

.l-product-2 .l-product-img {
  padding: 44px 57px 7px 68px;
}

.l-product-3 .l-product-img {
  padding: 61px 69px 8px 69px;
}

.l-product-4 .l-product-img {
  padding: 0px 39px 7px 54px;
}

.l-product-5 .l-product-img {
  padding: 14px 21px 7px 36px;
}

.l-product-6 .l-product-img {
  padding: 16px 0px 7px 5px;
}

.l-product:hover .badge-img {
  opacity: 1;
}

.l-product:hover .l-product-icon {
  opacity: 1;
}

.l-product:hover .l-product-img {
  background-color: #ffffff;
}

.list-item-l-product:hover a {
  color: var(--primary);
}

@media screen and (max-width: 1428px) {
  .Leatest-Products .row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1081px) and (max-width: 1427px) {
  .Leatest-Products .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Leatest-Products .l-product {
    width: calc((100% - 30px) / 2);
  }
}

/*end Leatest Products */

/*start shopex offer*/

.Shopex-Offer {
  padding: 50px 0;
}

.Shopex-Offer h2 {
  margin-bottom: 55px;
  color: #1a0b5b;
}

.Shopex-Offer .row {
  justify-content: flex-start;
  gap: 25px;
}

.Shopex-Offer .offer {
  flex-shrink: 0;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 0px 0px 3px #a5a5a540;
  border-radius: 4px;
}

.Shopex-Offer .offer img {
  object-fit: contain;
  padding: 45px 98px;
}

.Shopex-Offer .offer h3 {
  color: #151875;
  margin-bottom: 20px;
}

.Shopex-Offer .offer p {
  color: #72718f;
  margin-bottom: 25px;
}

@media screen and (max-width: 1428px) {
  .Shopex-Offer .offer .row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .Shopex-Offer .row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*end  shopex offer*/
/*start trending products*/
.trending-prodcts {
  padding: 50px 0;
  margin-bottom: 10px;
}

.trending-prodcts .row {
  justify-content: flex-start;
  gap: 15px;
}

.trending-prodcts h2 {
  margin-bottom: 48px;
  color: #1a0b5b;
}

.trending-prodcts .tr-product {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
  position: relative;
  flex-shrink: 0;
  flex-basis: 250px;
  flex-grow: 1;
}

.tr-product .img {
  background-color: #f5f6f8;
  height: 244px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px auto 0 auto;
  object-fit: contain;
}

.tr-product-info {
  padding: 15px;
}

.tr-product h3 {
  margin-top: 14px;
  font-size: 18px;
  color: #151875;
}

.tr-product-info .price {
  color: #151875;
  margin-bottom: 10px;
}

.tr-product-info .old-price {
  color: #cccccc;
  font-size: 13px;
  margin-left: 5px;
}

@media screen and ( max-width: 600px ) {
  .trending-prodcts .container {
    width: calc(100% - 190px);
  }
}

/*end trending products*/
/*start categories*/
.Top-Categories h2 {
  margin-bottom: 56px;
  color: #151875;
}

.category {
  padding: 50px 0;
  color: #151875;
}

.category .img {
  position: relative;
  background-color: #f6f7fb;
  padding: 40px;
  border-radius: 50%;
  box-shadow: 1px 2px 12px #cbcbcb40;
  transition: all 0.6s;
}

.category h3 {
  margin-top: 27px;
  font-size: 18px;
  margin-bottom: 13px;
}

.category p {
  font-size: 14px;
  margin-top: 10px;
}

.btn-cate-hover {
  border: none;
  outline: none;
  color: #fff;
  background-color: #08d15f;
  padding: 9px 14px;
  border-radius: 9px;
  position: absolute;
  bottom: 11px;
  left: 30%;
  opacity: 0;
  transition: all 0.6s;
}

.category:hover .btn-cate-hover {
  opacity: 1;
}

.category:hover .img {
  box-shadow: -6px 8px 0px #b48dd2;
}

@media screen and (max-width: 1428px) {
  .Top-Categories .row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*end categories*/

/*start news letter*/
.news-letter {
  background-image: url("/image/puplic/news-letter.svg");
  padding: 175px 0;
  text-align: center;
}

.news-letter h2 {
  color: #151875;
  margin-bottom: 38px;
  font-size: 36px;
}

/*end news letter*/
/*start clients*/
.clients {
  padding: 50px 0;
}

.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}

.clients .logo {
  width: calc((100% - 75px) / 6);
}

.clients img {
  width: 140px;
  height: 92px;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}

/*end clients*/

/*start blog*/
.Leatest-Blog h2 {
  margin-bottom: 80px;
  color: #1a0b5b;
}

.card {
  flex: 1;
  max-width: calc((100% - 40px) / 3);
  box-shadow: 0px 1px 4px #66666640;
  margin-bottom: 170px;
}

.card-info {
  padding-bottom: 30px;
  padding-left: 17px;
  display: flex;
  gap: 8px;
}

.card-info h4 {
  margin-left: 10px;
}

.card-date {
  padding-left: 44px;
}

.card-title {
  padding-bottom: 35px;
  padding-left: 17px;
}

.card-title h3 {
  padding: 17px 0px;
  transition: all 0.6s;
}

.card-title p {
  padding: 14px 0px;
  color: #72718f;
}

.card-title a {
  padding-bottom: 35px;
  text-decoration: underline;
  transition: all 0.6s;
}

.card:hover h3 {
  color: var(--primary);
}

.card:hover a {
  color: var(--primary);
}

@media screen and (max-width: 1428px) {
  .Leatest-Blog .row { 
    width: calc((100% - 40px) / 3);
    justify-content: center;
  }

  .Leatest-Blog .card {
    max-width: fit-content;
    flex: none;
    justify-content: center;
  }
}
@media screen and ( max-width: 600px ) {
  .Leatest-Blog  .container {
    width: calc(100% - 480px);
  }
}

/*end blog*/
/*start footer*/

.footer {
  background-color: #eeeffb;
  padding: 55px 0;
}

.footer .row .right-side {
  gap: 45px;
  align-items: flex-start;
}

.footer .left-side {
  gap: 35px;
  align-items: flex-start;
  width: calc((100% - 30px) / 2);
}

.footer .right-side {
  width: calc((100% - 30px) / 2);
}

.footer-item {
  gap: 45px;
  width: calc((100% - 70px) / 3);
}

@media screen and (max-width: 970px) {
  .footer .left-side,
  .footer .right-side {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .footer .footer-item {
    width: 100%;
  }

  .footer {
    text-align: center;
  }
}

.footer a,
.address-info {
  color: #8a8fb9;
}

.footer .right-side h2 {
  padding-bottom: 46px;
}
